# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Clothes-R-Us-Catalogue.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Johannes\Documents\Git\Clothes-R-Us\Clothes-R-Us-Catalogue\.idea\.idea.Clothes-R-Us-Catalogue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
